@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';
@import "@nuxt/ui";

/* 
  MerchFlow - Professional E-Commerce Core Design System
  Main CSS Foundation
*/

:root {
	/* Colours */
	--color-surface: #f7f9fb;
	--color-primary: #0f172a;

	/* Typography */
	--font-family: 'Manrope', sans-serif;
	--font-size-base: 16px;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	color: var(--color-primary);
	background-color: var(--color-surface);
	line-height: 1.5;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	letter-spacing: -0.025em;
	margin-top: 0;
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
